version: '3.8'

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.0
    container_name: rsv-cadvisor-fixed
    restart: unless-stopped
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - '8080:8080'
    environment:
      - TZ=America/Sao_Paulo
    command:
      - --housekeeping_interval=10s
      - --docker_only=true
      - --disable_metrics=accelerator,hugetlb,referenced_memory,process,percpu,sched,tcp,udp,disk,diskIO,network,advtcp,resctrl,cpu_topology,memory_numa,oom_event,seccomp,ebpf
      - --store_container_labels=false
      - --whitelisted_container_labels=name,image
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:8080/healthz']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - rsv360-network

networks:
  rsv360-network:
    external: true
